<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head> <!--Replaces using th:replace="(file_name) :: (name in file)-->
<body class="container">

<table class="table">
    <tr>
        <div class="text-center">
            <img th:src = "@{/images/MainLogo.png}" />
        </div></tr>
    <tr>
        <th scope="col">
            <div class="rounded float-left" >
                <img th:src = "@{/images/SidePanelLogo.png}" />
            </div>
        </th>
        <th scope="col">
            <h1 class="text-center"> Clients </h1>
            <ul>
                <nav th:replace="fragments :: navigation"></nav>
            </ul>
        </th>
        <th scope="col">
            <div class="rounded float-right" >
                <img th:src = "@{/images/SidePanelLogo.png}" />
            </div>
        </th>
    </tr>

</table>
</body>
</html>