<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head> <!--Replaces using th:replace="(file_name) :: (name in file)-->

<body class="body">
<div th:replace="fragments :: topBanner"></div>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: leftBanner"></div>

        <div class="col">
            <table class="flex-fill">
                <tr>
                    <td><a href="/appointments"><img th:src="@{/images/appointments.png}"/></a></td>
                    <td><a href="/clients"><img th:src="@{/images/clients.png}"/></a></td>
                    <td><a href="/trainers"><img th:src="@{/images/trainers.png}"/></a></td>
                </tr>
            </table>
        </div>

        <div th:replace="fragments :: rightBanner"></div>

    </div>
</div>

</body>
</html>