<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class = "container">
<form method="post">

        <th:block th:each="client :${clients}">
            <div class ="form-group">
            <label>
                <span th:text ="${client.fName} + ' '+ ${client.lName}"></span>
                <input type="checkbox" name ="clientIds" th:value="${client.id}" class ="form-control">
            </label>

            </div>
        </th:block>

 <input type="submit" value="Delete" class = "btn btn-danger">
</form>
</body>
</html>