<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class = "container">
<form method="post">

    <th:block th:each="appointment :${appointments}">
        <div class ="form-group">
            <label>
                <span th:text ="${appointment.id}"></span>
                <input type="checkbox" name ="appointmentIds" th:value="${appointment.id}" class ="form-control">
            </label>

        </div>
    </th:block>

    <input type="submit" value="Delete" class = "btn btn-danger">
</form>
</body>
</html>