<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class = "container">

<h1>Appointments</h1>
<p th:unless="${appointments} and ${appointments.size()}">No Appontments!</p>
<table class ="table table-striped">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.name}"></td>
    </tr>

</table>

<ul>
    <li><a href="/appointments/create">Create Appointment</a></li>
</ul>




</body>
</html>