<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class = "container">

<h1>Appointments</h1>
<nav th:replace = "fragments :: navigation"></nav>
<table class ="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Trainer</th>
        <th>Client</th>
        <th>Type</th>
        <th>Level</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    </thead>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.trainer.fName}"></td>
        <td th:text="${appointment.client.fName}"></td>
        <td th:text="${appointment.type.displayName}"></td>
        <td th:text="${appointment.level.displayName}"></td>
        <td th:text="${appointment.date}"></td>
        <td th:text="${appointment.time}"></td>

    </tr>

</table>
<p th:unless="${appointments} and ${appointments.size()}">No Appointments!</p>

<ul class="list-group">
    <li class="list-group-item" ><a href="/appointments/create">Create Appointment</a></li>
    <li class="list-group-item" ><a href="/appointments/delete-appointment">Delete Appointment</a></li>
</ul>




</body>
</html>