<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class = "container">

<div th:replace="fragments :: topBanner"></div>
<h1>Trainers</h1>
<nav th:replace="fragments :: navigation"></nav>


    <div class="row">
        <div th:replace="fragments :: leftBanner"></div>

        <div class="col">

<table class ="table table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.id}"  ></td>
        <td><a th:text="${trainer.fName + ' ' + trainer.lName}" th:href ="'/appointments?clientId=' + ${trainer.id}" ></a></td>
        <td th:text="${trainer.phone}"></td>
        <td th:text="${trainer.email}"></td>

    </tr>
</table>
<p th:unless="${trainers} and ${trainers.size()}">No Fitness Trainers!</p>
<ul class="list-group">
    <li class="list-group-item"><a href="/trainers/add-trainer">Add Trainer</a></li>
    <li class="list-group-item"><a href="/trainers/delete-trainer">Delete Trainer</a></li>
</ul>
        </div>

        <div th:replace="fragments :: rightBanner"></div>

    </div>



</body>
</html>